* {
  box-sizing: border-box;
}

#img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

#one {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 100;
  border: 1px solid;
}
#two {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 400px;
  left: 400px;
  border: 1px solid; 
}

#three {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 250px;
  left: 250px; 
  background-image: url("https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: 102% 102%;
  border: 1px solid;
}


.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  box-sizing :border-box;
  z-index: -100;
}
.resizable .resizers .resizer{
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}